<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler,Microsoft.ApplicationBlocks.ExceptionManagement,Version=1.0.1522.20858, Culture=neutral, PublicKeyToken=03bb8fa6492d6824"/>
  </configSections>
  <appSettings>
    <add key="ServiceName" value="Humana.H1.JobService_PROD"/>
    <add key="dbConn" value="server=prodsqlvip.humana-one.com,1433;database=HDProd;user id=webuserws;password=link4stats" />
    <add key="dbConnException" value="server=prodsqlvip.humana-one.com,1433;uid=webuseremab;pwd=link4stats;database=zException"/>
    <add key="strServiceTimer" value="15000"/>
    <add key="MonitorJobDef.1" value="ALL"/>
    <add key="MonitorJobDef.2" value="!ContactMIBDirect"/>
    <add key="CanCancelJob" value="true"/>
  </appSettings>
  <exceptionManagement mode="on">
    <publisher mode="on" assembly="Adapt.ExceptionManagement,Version=1.0.1536.29117, Culture=neutral, PublicKeyToken=4aefe2c939fbf901" type="Adapt.ExceptionManagement.ExceptionPublisher"/>
  </exceptionManagement>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
