<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler,Microsoft.ApplicationBlocks.ExceptionManagement,Version=1.0.1522.20858, Culture=neutral, PublicKeyToken=03bb8fa6492d6824"/>
	 </configSections>
	<appSettings>
		<add key="dbConn" value="server=devsql1.humana-one.com;database=HDDev;user id=WebUserDev;password=link4stats"/>
		<add key="dbConnException" value="server=devsql1.humana-one.com;uid=WebUserEMAB;pwd=link4stats;database=zException;Application Name=H1JobService"/>
		<add key="MonitorJobDef.1" value="ALL"/>
	</appSettings>
	<exceptionManagement mode="on">
		<publisher mode="on" assembly="Adapt.ExceptionManagement,Version=1.0.1536.29117, Culture=neutral, PublicKeyToken=4aefe2c939fbf901" type="Adapt.ExceptionManagement.ExceptionPublisher"/>
	</exceptionManagement>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
