<?xml version="1.0" encoding="utf-8"?>
<dataConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null">
    <enterpriseLibrary.databaseSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" defaultInstance="HumanaOne ExceptionDatabase Instance" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/data">
      <databaseTypes>
        <databaseType name="Sql Server" type="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
      </databaseTypes>
      <instances>
        <instance name="HumanaOne ExceptionDatabase Instance" type="Sql Server" connectionString="HumanaOne Exception Connection String" />
      </instances>
      <connectionStrings>
        <connectionString name="HumanaOne Exception Connection String">
          <parameters>
            <parameter name="database" value="zException" isSensitive="false" />
            <parameter name="pwd" value="link4stats" isSensitive="true" />
            <parameter name="uid" value="webuserdev" isSensitive="false" />
            <parameter name="server" value="lousqlwqs14" isSensitive="false" />
          </parameters>
        </connectionString>
      </connectionStrings>
    </enterpriseLibrary.databaseSettings>
  </xmlSerializerSection>
</dataConfiguration>